<div class="prices">

  Цены на топливо на текущую дату
  <h3><%= Date.today %></h3>


  <div class="fuel_prices">

    <p>КЛО</p>

    <div class="klo_prices">

      <%= @klo_prices %>
      <table class="datagrid">
        <tr>
          <th>Топливо</td>
          <th>Цена, грн</td>
        </tr>

        <% @klo_prices.each { |key, value| %>
            <tr>
              <td><%= key %></td>
              <td><%= value %></td>
            </tr>
        <% } %>
      </table>
    </div>

    <p>ОККО</p>

    <div class="okko_prices">
      <table class="datagrid">
        <tr>
          <th>Топливо</td>
          <th>Цена, грн</td>
        </tr>

        <% @okko_prices.each { |key, value| %>
            <tr>
              <td><%= key %></td>
              <td><%= value %></td>
            </tr>
        <% } %>
      </table>
    </div>


  </div>

  <!--<div id="fuelPrice">-->
  <!--<h3>Ціни на пальне</h3>-->
  <!--<ul>-->
  <!--<li><div id="pulls95"><span>11.99</span></div></li>-->
  <!--<li><div id="euro95"><span>11.19</span></div></li>-->
  <!--<li><div id="fuela92"><span>10.78</span></div></li>-->
  <!--<li><div id="fuela80"><span>10.24</span></div></li>-->
  <!--<li><div id="pullsDiesel"><span>10.99</span></div></li>-->
  <!--<li><div id="euroDiesel"><span>10.24</span></div></li>-->
  <!--<li><div id="gaz"><span>6.33</span></div></li>-->
  <!--</ul>-->
  <!--</div>-->


</div>